# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
/OnWindows/bin/Debug
/OnWindows/obj/Debug
/OnWindowsTests/bin/Debug
/OnWindowsTests/obj/Debug
/SnowSharp/.vs/SnowSharp/v14
/SnowSharp/bin/Debug
/SnowSharp/obj/Debug
/SnowSharp/TestOnWindows/bin/Debug
/SnowSharp/TestOnWindows/obj/Debug
/OnWindows/obj/Release
/OnWindows/bin/Release
/OnWindowsTests/bin/Release
/OnWindowsTests/obj/Release
/SnowSharp/bin/Release
/SnowSharp/obj/Release
/.vs
/.vs
/.vs
/.vs
/SnowSharp/Debug
/SSTPacker/Debug
/SSTPacker/Debug
/SSTPacker/Debug
/SSTPacker/test.sst
/SnowSharp/.vs/SnowSharp/v15/ipch
/SnowSharp/.vs/SnowSharp/v15/ipch
/SnowSharp/.vs/SnowSharp/v15/Browse.VC.db
/SnowSharp/.vs/SnowSharp/v15/Browse.VC.opendb
/SnowSharp/.vs/SnowSharp/v15/Solution.VC.db-wal
/SnowSharp/.vs/SnowSharp/v15/Solution.VC.db-shm
/SnowSharp/.vs/SnowSharp/v15/Solution.VC.db
/SnowSharp/.vs/SnowSharp/v15/Solution.VC.db-wal
/SnowSharp/.vs/SnowSharp/v15/Solution.VC.db-shm
/SnowSharp/.vs/SnowSharp/v15/Solution.VC.db
/SSTPacker/Release
/SnowSharp/Release
/SnowSharpOnAndroid/obj/Release
