# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
/OnWindows/bin/Debug
/OnWindows/obj/Debug
/OnWindowsTests/bin/Debug
/OnWindowsTests/obj/Debug
/SnowSharp/.vs/SnowSharp/v14
/SnowSharp/bin/Debug
/SnowSharp/obj/Debug
/SnowSharp/TestOnWindows/bin/Debug
/SnowSharp/TestOnWindows/obj/Debug
/OnWindows/obj/Release
/OnWindows/bin/Release
/OnWindowsTests/bin/Release
/OnWindowsTests/obj/Release
/SnowSharp/bin/Release
/SnowSharp/obj/Release
/.vs
/.vs
/.vs
/.vs
